@font-face {
    font-family: 'Kingdred';
    src: url(Fonts/kingred.otf) format('truetype');
    font-weight: normal;
    font-style: normal;    
}

:root{
  --main: #63370c;
  --accent: #5d3619;    
  --f-section:#f2d7a0;;
  --text: #222;
  --radius: 100px;
  --container: 2000px;
  --gap: 0;
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
    background-color: var(--main);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-logo img {
    height: 100px;
    position: static;
    display: block;
}

html, body {
  height: 100%;
  margin: 0px;
}

.nav-list {
  list-style: none;
  display:flex;
  justify-content: right;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

.nav-list li{
  margin: 0;
  padding: 0;
}

.nav-list li a {
  font-size: 16px;
  font-family: 'Kingdred';
  background-color: white;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 8px solid white;
  border-radius: 9px;
  transition: background-color 0.4 ease, color 0.3;
  display: inline-block;
}

.nav-list li a:hover {
  color: #754c30;
  background-color: white;
  animation: normal;
  font: bold;
}

main {
  align-items: center;
  justify-content: center;
}

.video_select {
  margin: 0 auto;
  padding: 0;
  max-width: fit-content;
  position: relative;
  display: inline-flexbox;
  height: fit-content;
  width: 100%;
  overflow: none;
}

.menu_bar li a {
  color: #000000;
  background-color: white;
  animation: normal;
  font: bold;
}

.menu_bar li a{
  font-size: 3vw;
  font: bold;
  font-family: 'Kingdred';
  text-decoration: none;
  background-color: #f6f8eb;
  color: rgb(0, 0, 0);
  border: 15px solid #f6f8eb;
  border-radius: 10px;
  transition: background-color 0.4 ease, color 0.5;
}

.menu_bar {
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -22vw;
  padding-bottom: 18vw;
  box-sizing: border-box;
  z-index: 1;
}

video {
  width: 100%;
  display: block;
  pointer-events: none;
  user-select: none;
  object-fit: cover;
  z-index: -4;
  image-resolution: 60%;
}

.pep_b {
  width: 90%;
  margin: 0 auto;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
  display:inline-flex;
  background-color: var(--f-section);
  border: 5px solid color(none);
  border-radius: 50px;
  padding: 40px;
}
 
.features {
  margin-top: 20px;
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 4.5vw;
  font-family: 'kingdred';
  color: rgb(0, 0, 0);
}

.feature_pep_sec {
  justify-content:space-between;
  align-items: left;
}

.pep_img {
  width: 50%;
  height: auto;
  border-radius: 30px;
}

.pep_text_position h3{
  margin-left: -10px;
  margin-top: 1px;
  font-size: 3.4vw;
  font-family: 'kingdred';
}

.pep_text_position p {
  margin-left: 0px;
  margin-top: -10px;
  font-size: 2.2vw;
  padding: 5px;
  font-family: 'kingdred';
}

.apple_sec {
  width: 90%;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  display:flex;
  background-color: var(--f-section);
  border: 5px solid color(none);
  border-radius: 40px;
  padding: 40px;
}

.apple_img {
  width: 50%;
  border-radius: 30px;
  padding-left: 0px;
}

.feature_apple h3{
  text-align: right;
  margin-left:250px;
  margin-top: 1px;
  font-size: 3.4vw;
  font-family: 'kingdred';
}

.feature_apple p {
  text-align: right;
  margin-left: 20px;
  margin-top: -20px;
  font-size: 2.2vw;
  padding: 15px;
  padding-left: 45;
  font-family: 'kingdred';
}

.eggnog_sec {
  width: 90%;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  display:flex;
  background-color: var(--f-section);
  border: 5px solid color(none);
  border-radius: 40px;
  padding: 40px;
}

.feature_eggnog h3 {
  margin-left:10px;
  margin-top: 1px;
  font-size: 3.4vw;
  font-family: 'kingdred';
}

.feature_eggnog p {
  margin-left: 20px;
  margin-top: -20px;
  font-size: 2.2vw;
  padding: 15px;
  padding-left: 45;
  font-family: 'kingdred';
}

.eggnog_img {
  width: 50%;
  height: auto;
  border-radius: 30px;
  padding-left: 0px;
}




.site-footer {
  margin-top: 1.75rem;
  padding: 2rem 0;
  background: linear-gradient(180deg, #5c3311, #2b180a);
  color: #f7e4c5;
  border-top: 2px solid rgba(255, 245, 220, 0.15);
} 

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-info p {
  margin: 0.2rem 0;
  color: #f7e4c5;
  font-size: 0.95rem;
  padding-left: 30px;
}

.footer-info strong {
  font-family: 'Kingdred', serif;
  font-size: 1.2rem;
  color: #f8e8c8;
}

.site-footer a {
  color: #f8e8c8;
  text-decoration: none;
  font-weight: 600;
}

.site-footer a:hover {
  text-decoration: underline;
}

.footer-info p {
  padding-right: 10px;
}

.footer-info img {
  margin-left: 30px;
  width: 200px;
}