@font-face {
    font-family: 'Kingdred';
    src: url(Fonts/kingred.otf) format('truetype');
    font-weight: normal;
    font-style: normal;    
}

:root{
  --main: #63370c;
  --accent: #5d3619;    
  --f-section:#f2d7a0;;
  --card: #f2d7a0;
}

body {
  padding: 0;
  margin: 0;
}

.nav-bar {
    border: 2px dashed #864406b9;
    border-radius: 30px;
    justify-self: center;
    width: 70%;
    margin-left: 6.4vw;
    margin-top: 15px;
    margin-bottom: 10px;
    z-index: -2;
}

.nav-bar img {
    position: absolute;
    width: 90px;
    border-radius: 200px;
    border: 2px solid black;
    margin-top: -6px;;
    transition: 0.6s;
    z-index: 0;
}

.nav-bar img:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color:#895D39;
    border: 2px solid black;
    border-radius: 40px;
    padding: 14px;
    gap: 2vw;
    width: 88%;
}

.nav-links li a {
    padding: 0.2rem 1.2rem;
    color: var(--card);
    background:rgba(255,255,255,0.06);
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.3s ease-out;
    letter-spacing: 0.2px;
    z-index: 10;
}

.nav-links li a:hover {
  color: lightcoral;
  
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top:30px;
}

html, body {
  height: 100%;
  margin: 0px;
}

main {
  align-items: center;
  justify-content: center;
}

.video_select {
  margin: 0 auto;
  padding: 0px;
  width: fit-content;
  position: relative;
  display: inline-flexbox;
  height: fit-content;
  width: 100%;
  overflow: none;
}

.menu_bar li a:hover {
  color: lightcoral;
  transition: 0.3s ease-out;
  z-index: 10;

}

.menu_bar li a{
  font-size: 3vw;
  font-weight:bold;
  font-family: 'Kingdred';
  text-decoration: none;
  background-color:#895D39;
  color: rgb(0, 0, 0);
  border: 13px solid #895D39;
  border-radius: 20px;
  transition: background-color 0.4 ease, color 0.5;
  color: var(--card);
  animation: normal;
}

.menu_bar {
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-left: -1.1em;
  margin-top: -23vw;
  padding-bottom: 18vw;
  box-sizing: border-box;
  z-index: 1;
}

video {
  width: 100%;
  display: block;
  pointer-events: none;
  user-select: none;
  object-fit: cover;
  z-index: -4;
  image-resolution: 60%;
}

.features {
  margin-top: 2.4vw;
  padding-left: 50px;
  margin-bottom: 1.2vw;
  font-size: 4.5vw;
  font-family: 'kingdred';
  color: var(--card);
}

.pep_b {
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
  display:inline-flex;
  background-color: var(--f-section);
  border: 5px solid color(none);
  border-radius: 50px;
  padding: 35px;
}
 


.feature_pep_sec {
  justify-content:space-between;
  align-items: left;
}

.pep_img {
  width: 50%;
  height: auto;
  border-radius: 30px;
}

.pep_text_position h3{
  margin-left: -10px;
  margin-top: -11vw;
  font-size: 3.4vw;
  font-family: 'kingdred';
}

.pep_text_position p {
  padding-left: 2em;
  text-indent: -0.65em;
  margin-left: 0px;
  margin-top: -18px;
  font-size: 2.2vw;
  padding: 20px;
  font-family: 'none';
  line-height: 1.2;
}

.apple_sec {
  width: 90%;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  display:flex;
  background-color: var(--f-section);
  border: 5px solid color(none);
  border-radius: 40px;
  padding: 40px;
}

.apple_img {
  width: 50%;
  border-radius: 30px;
  padding-left: 0px;
}

.feature_apple h3{
  text-align: right;
  margin-left:250px;
  margin-top: 1px;
  font-size: 3.4vw;
  font-family: 'kingdred';
}

.feature_apple p {
  padding-left: 2em;
  text-indent: -0.65em;
  text-align: left;
  margin-left: 20px;
  margin-top: -20px;
  font-size: 2.2vw;
  padding: 20px;
  padding-left: 1em;
  font-family: 'none';
  line-height: 1.2;
}

.eggnog_sec {
  width: 90%;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  display:flex;
  background-color: var(--f-section);
  border: 5px solid color(none);
  border-radius: 40px;
  padding: 40px;
}

.feature_eggnog h3 {
  margin-left:10px;
  margin-top: 1px;
  font-size: 3.4vw;
  font-family: 'kingdred';
}

.feature_eggnog p {
  padding-left: 2em;
  text-indent: -0.65em;
  margin-left: 20px;
  margin-top: -20px;
  font-size: 2.2vw;
  padding: 15px;
  padding-left: 45;
  font-family: 'none';
  line-height: 1.2;
}

.eggnog_img {
  width: 50%;
  height: auto;
  border-radius: 30px;
  padding-left: 0px;
}


.site-footer {
  margin-top: 1.75rem;
  padding: 1.0rem 0;
  background: linear-gradient(180deg, #5c3311, #2b180a);
  color: #f7e4c5;
  border-top: 2px solid rgba(255, 245, 220, 0.15);
} 

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-info p {
  margin: 0.2rem 0;
  color: #f7e4c5;
  font-size: 0.95rem;
  padding-left: 0px;
  margin-left: 11px;
  padding: 2px;
}

.footer-info strong {
  font-family: 'Kingdred', serif;
  font-size: 1.2rem;
  color: #f8e8c8;
}

.site-footer a {
  color: #f8e8c8;
  text-decoration: none;
  font-weight: 600;
}

.site-footer a:hover {
  text-decoration: underline;
}

.footer-info p {
  padding-right: 20px;
}

.footer-info img {
  margin-top: 10px;
  margin-left: -8px;
  width: 400px;
}